@import '~antd/dist/antd.css';

html {
  background-color: #e9eff4;
  max-width: 586px;
}

body {
  background-color: transparent;
}

.start-screen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.start-screen-wrapper img {
  max-width: 320px;
}

.bar-code-wrapper {
  position: absolute;
  z-index: 10;
  top: 172px;
  background-color: rgba(46, 49, 49, .85);
  height: 420px;
  width: 100%;
  max-width: 570px;
  left: 0;
  max-height: 420px;
}

.add-ons-wrapper,
.device-features-wrapper {
  background: #fff;
  text-align: left;
  margin-bottom: 15px;
  padding: 15px;
}

.cta-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.load-spinner {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.ant-btn-primary {
    color: #fff;
    background-color: rgb(229, 27, 36);
    border: none;
    font-weight: bold;
    width: 100%;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background:rgba(229, 27, 36, .5);
  border-color:  rgb(229, 27, 36);
}

.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active {
  color: rgba(0, 0, 0, 0.25);
  background: rgba(229, 27, 36, 0.5);
  border-color: #d9d9d9;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ant-layout-header {
  color: rgb(229, 27, 36);
  height: 40px;
  line-height: 40px;
  background: #275c8d;
  font-size: larger;
  font-weight: 700;
  padding-left: 15px;
}

.ant-layout-footer {
  bottom: 0;
  padding: 24px 50px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  background:#275c8d;
  margin-top: 15px;
  max-width: 586px;
  width:100%;
}

.ant-col-6:last-child {
  margin-bottom:10px;
  min-width: 275px;
}

.ant-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  max-width: 586px;
  background-color: rgba(0, 0, 0, 0.45);
}

.ant-modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  max-width: 586px;
}

.ant-modal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  pointer-events: none;
  position: relative;
  top: 100px;
  width: auto;
  max-width: calc(100vw - 32px);
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #d9d9d9;
}